.App{
   width: 100%;
   margin: 0 ;
   padding: 0;
}

html,body{   
    
    margin: 0 ;
    padding: 0 ;
    font-family:  Barlow Semi Condensed;

}

.attribution { 
    font-size: 11px;
    text-align: center;
    color: whitesmoke;
    position: fixed;
    bottom: 10px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    font-size: 11pt;
}
.attribution a {
    color: white
}