.game{
    
    display: flex;
    margin-top: 50px;
    justify-content: center;
    position: relative;
    height: 500px;
    width: 600px;
    

    .background-shape{
        margin-top: 60px;
        position: absolute;
        z-index: 0;
    }

    
 
   
}
.paper-circle{
    background-image: #fff;
    background-image: linear-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%)) ;
    background-color: blue;
    margin-right: 50px;
}

.rock-circle{
    background-image: linear-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%) ) ;
        background-color: red;
        position: absolute;
        margin-top: 200px;
}

.scissors-circle{
    background-image: linear-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%) ) ;
    background-color: yellow;

}

.paper-circle-pro{
    @extend .paper-circle;
    position: absolute ;
         top: 100px;
         right:50px;
}
.rock-circle-pro{
    @extend .rock-circle;
    position: absolute ;
    margin: 0;
    bottom:50px;
    right: 90px;
}
.scissors-circle-pro{
    @extend .scissors-circle;
    background-image: linear-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%) ) ;
    position: absolute;
    top: 0px;
    background-color: yellow;
}

.lizard-circle-pro{
    background-image: linear-gradient( hsl(261, 73%, 60%) , hsl(261, 72%, 63%) );
    background-color: purple;
    position: absolute;
    top: 100px;
    left:  50px;
}

.spock-circle-pro{
    &:nth-of-type(5){
        background-image: linear-gradient( hsl(189, 59%, 53%) , hsl(189, 58%, 57%) ) ;
        background-color: turquoise;
        position: absolute;
        bottom:70px;
        left: 100px;

    }
}


.circle-wrap-simple{
    z-index: 3;
    cursor: pointer;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    &:hover{
        transform: scale(1.1);
    }

    .circle{
        background-color: #fff;
        position: relative;
        z-index: 10;
       cursor: pointer;
        margin: 0;
        border: 15px solid ;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    
    
}

.circle-wrap-pro{
    margin: -20px;
    z-index: 3;
    cursor: pointer;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    &:hover{
        transform: scale(1.1);
    }
    .circle{
        background-color: #fff;
        position: relative;
        z-index: 10;
       cursor: pointer;
        margin: 0;
        border: 15px solid;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
    
    
}

.empty-circle{
    background-color: rgba(128, 128, 128, 0.317);
    z-index: 3;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulseCircle 1s infinite ;
   animation-timing-function: ease-in-out;

        img{
            display: none;
        }
}

@mixin keyframes ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }
  
    @-moz-keyframes #{$animation_name} {
        @content;
    }
  
    @-o-keyframes #{$animation_name} {
        @content;
    }
  
    @keyframes #{$animation_name} {
        @content;
    }
  }

  @keyframes pulseCircle{
      0%{transform: scale(1)};
      50%{transform: scale(1.1);}
      100%{transform: scale(1)};
  }

 

.result{
    transition: ease 2s ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
    width: 600px;
   


    .user-result{
        margin-right : 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
        .over-img-title{
            font-size: 20pt;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 10px;
        }
    }

    .bot-result{
        @extend .user-result;
        margin-left: 20px;
        margin-right: 0px;
    }

    .result-text{
        font-size: 40pt;
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        .message{
            text-align: center;
            font-size: 30pt;
            margin: 0;
        }
        
        .play-again{
            cursor: pointer;
            background-color: white;
            font-family: inherit;
            font-size: 14pt;
            height: 60px;
            text-transform: uppercase;
            letter-spacing: 2px;
            
            border: none;
            border-radius: 7px;
            color: #3d5ca4 ;
        }
    }

    .circle-wrap-simple{
        @extend .circle-wrap-simple;
        display: flex;
        position: relative ;
        margin:0;
        
        

        .circle{
            margin: 0 ;
            position: relative;
          }
    }
  
    
}



@media screen and (max-width: 600px) {

    .paper-circle{
        background-image: #fff;
        background-image: linear-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%)) ;
        background-color: blue;
        position: absolute;
        top: 20px;
        right: 5px;
    }
    
    .rock-circle{
        background-image: linear-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%) ) ;
            background-color: red;
            position: absolute ;
            margin: 0;
            bottom:170px;
           
    }
    
    .scissors-circle{
        background-image: linear-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%) ) ;
        background-color: yellow;
        position: absolute;
        top: 20px;
        left: 40px;
        background-color: yellow;
    }


    .paper-circle-pro{
        position: absolute;
        top: 120px;
        right:80px;
    }

    .rock-circle-pro{
        position: absolute ;
        margin: 0;
        bottom:170px;
        right: 20px;
    }
    .scissors-circle-pro{
        background-image: linear-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%) ) ;
        position: absolute;
        top: 50px;
        left: -29px;
        background-color: yellow;
    }
    
    .lizard-circle-pro{
        background-image: linear-gradient( hsl(261, 73%, 60%) , hsl(261, 72%, 63%) );
        background-color: purple;
        position: absolute;
        top: 120px;
        left:  70px;
    }
    
    .spock-circle-pro{
            background-image: linear-gradient( hsl(189, 59%, 53%) , hsl(189, 58%, 57%) ) ;
            background-color: turquoise;
            position: absolute ;
            top:250px;
            left: 40px !important;
    }



    
    .game{
       width: 100%;
         .circle-wrap-pro{
            width: 100px !important;
            height: 100px !important;
            
            .circle {
                width: 50px !important;
                height: 50px !important;
            }
        }

        .circle-wrap-simple{
            border-radius: 50%;
            width: 100px;
            height: 100px;
        
            .circle{
                width: 50px;
                height: 50px;
                margin: 0 !important;
            }

        }
        .background-shape{
             position: absolute;
             align-self: auto;
             z-index: 0;
             width: 250px;
         }
    }

    .user-result{       
        min-width: 200px;
        margin:0px !important;
        div{
            bottom: 0 !important;
        }
        .over-img-title{
           order: 2;
           margin-top: 20px !important;
           font-size: 12pt !important;
           letter-spacing: 3px;
        }

        .circle-wrap-simple{
            order: 1;
            height: 150px;
            width: 150px;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            div{
                height: 80px;
                width: 80px;
            }
            
        }   
        
    }   
    .bot-result{

        min-width: 200px;
        div{
            bottom: 0 !important;
        }
        .over-img-title{
           order: 2;
           margin-top: 20px;
           font-size: 12pt;
        }

        .circle-wrap-simple{
            order: 1; 
            height: 150px;
            width: 150px;
            div{
                
                position: relative ;
                height: 80px;
                width: 80px;
            }
            
        }   
        
    }   
    .result{
        display: flex ;
        position: relative;
        justify-content: center;
        align-items: flex-start;
        margin-top: 50px;

    }
    .result-text{
        position: absolute;
        align-self: flex-end;
        bottom: 100px;
        margin-left: 0px !important;
        max-width: 300px;
        
    }
    .empty-circle{
        width:150px;
        height: 150px;
    }

    .message{
        font-size: 40pt !important;
        margin-bottom: 10px !important;
    }

    .play-again{
        min-width: 200px;
        height: 50px !important;
        
    }
    
}
